*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
/.DS_Store

#indien nodig: /app/src/main/java/be/ap/edu/aportage/managers/ApiContract.java
