<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ap.edu.aportage">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ap_thema">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="be.ap.edu.aportage"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Meldingen"
            android:label="@string/title_activity_meldingen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Melding"
            android:label="@string/title_activity_melding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ScanMelding" />
        <activity
            android:name=".Campussen"
            android:label="@string/title_activity_campussen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Verdiepingen"
            android:label="@string/title_activity_verdiepingen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lokalen"
            android:label="@string/title_activity_lokalen"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Overzicht"
            android:label="@string/title_activity_overzicht"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanLokaal"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="ocr"/>
    </application>

</manifest>