<div class="navigationbar">
    <div class="overlay" onclick="toggleMenu()"></div>
    <div class="sidebar">
        <div class="hamburger hamburger--spin" tabindex="0" onclick="toggleMenu()">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
        <ul>
            <li class="menu-item">
                <a href="/"><i class="fas fa-tachometer-alt"></i><span class="item-text">Dashboard</span></a>
            </li>
            <li class="menu-item">
                <a href="/meldingen"><i class="fas fa-exclamation-circle"></i><span class="item-text">Meldingen</span></a>
            </li>
            <li class="menu-item">
                <a href="/campussen"><i class="fas fa-clipboard-list"></i><span class="item-text">Campussen</span></a>
            </li>
        </ul>
    </div>
    <span class="logo">
        <img src="assets/logo-aportage-w.png">
    </span>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>